cache/*
!cache/.gitkeep
cache/torch_compile/*
!cache/torch_compile/.gitkeep
cache/torch/*
!cache/torch/.gitkeep

huggingface/
.python-version
llama.cpp
uv.lock
pyproject.toml
.venv
venv/
__pycache__
chroma_db
sample_docs
**/.env
val**.csv

RIS\ User\ Documentation/*